.store{
  display: flex;
 &__tabs{
   display: flex;
   flex-direction: column;
   width: 400px;
   height: 100vh;
 }
  &__tabs-btn{
    margin-bottom: 12px;
  }
  &__auto-parts{
    display: none;
    &.active{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
     display: block;

    }
  }
  &__for-moms{
    display: none;
    &.active{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }
  &__kids{
    display: none;
    &.active{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }
}

.prev-store{
  padding: 80px 0 12px 0;
  .container{
    padding-bottom: 60px;
    border-bottom: 2px solid #40328A;
  }
  &__store-items{
    display: flex;
    justify-content: space-between;
    img{
      height: 70px;
    }
  }
  &__view-more{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 23px;
    text-align: center;
    color: #40328A;
    text-decoration: none;
    transition: 0.2s ease;
    margin-top: 70px;
    &:hover{
      color: #EF8C3B;
    }
  }
}

@media (max-width: 497px) {
  .store__search{
    margin-right: 218px;
  }

}

@media (max-width: 569px){
 .store__catalog-item{
   width: 116px;
   height: 40px;
   background: #40328A;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 16px;
   /* identical to box height */
   color: #FFFFFF;
   box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
 }
}

@media (max-width: 414px){
  .store__catalog-item{
    width: 116px;
    height: 40px;
    background: #40328A;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
  }
  .store__search{
    margin-right: 75px;
  }
}

@media (max-width:1023px) {
  .store__search{
    margin-right: 601px;
  }
}

@media (max-width:693px) {
  .store__search{
    margin-right: 74px;
  }
}

