.store{
  .go-back{
    position: absolute;
    top: 0;
    left: 0;
  }
 &__tabs{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 100px;
 }
  &__tabs-btn{
    margin-top: 30px;
    width: 150px;
    height: 45px;
    background: #40328A;
    border-radius: 10px;
    margin-right: 12px;
    color: white;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      background: #EF8C3B;
    }
  }
  &__store-catalog{
    width: 160px;
    height: 160px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    a{
      text-align: center;
    }
    &:hover{
      border: 2px solid #EF8C3B;
      .store-name{
        display: block;
      }
    }
    .store-name{
      position: absolute;
      display: none;
      width: 130px;
      background: #00000050;
      text-align: center;
      color: white;
      border-radius: 10px;
      font-size: 24px;
    }
  }
  &__img{
    width: 90%;
  }
  &__block{
    display: flex;
    flex-wrap: wrap;
  }
  &__auto-parts{
    display: none;
    &.active{
     display: block;

    }
  }
  &__for-moms{
    display: none;
    &.active{
      display: block;


    }
  }
  &__kids{
    display: none;
    &.active{
      display: block;


    }
  }
  &__accessories{
    display: none;
    &.active{
      display: block;


    }
  }
  &__toys{
    display: none;
    &.active{
      display: block;


    }
  }
  &__shoes{
    display: none;
    &.active{
      display: block;


    }
  }
  &__extreme-sport{
    display: none;
    &.active{
      display: block;


    }
  }
  &__lingerie{
    display: none;
    &.active{
      display: block;


    }
  }
}

.prev-store{
  padding: 80px 0 12px 0;
  .container{
    padding-bottom: 60px;
    border-bottom: 2px solid #40328A;
  }
  &__store-items{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    img{
      width: 170px;
    }
  }
  &__view-more{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 23px;
    text-align: center;
    color: #40328A;
    text-decoration: none;
    transition: 0.2s ease;
    margin-top: 70px;
    &:hover{
      color: #EF8C3B;
    }
  }
}

@media (max-width: 497px) {
  .store__search{
    margin-right: 218px;
  }

}

@media (max-width: 569px){
 .store__catalog-item{
   width: 116px;
   height: 40px;
   background: #40328A;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 16px;
   /* identical to box height */
   color: #FFFFFF;
   box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
 }
}

@media (max-width: 414px){
  .store__catalog-item{
    width: 116px;
    height: 40px;
    background: #40328A;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
  }
  .store__search{
    margin-right: 75px;
  }
}

@media (max-width:1023px) {
  .store__search{
    margin-right: 601px;
  }
}

@media (max-width:693px) {
  .store__search{
    margin-right: 74px;
  }
}

@media (max-width: 860px) {
  .prev-store__store-items{
    img{
      width: 120px;
    }
  }
}

@media (max-width: 600px) {
  .prev-store__store-items{
    img{
      width: 100px;
    }
  }
}

@media (max-width: 516px) {
  .prev-store__store-items{
    img{
      width: 90px;
    }
  }
}

@media (max-width: 450px) {
  .prev-store__store-items{
    img{
      width: 70px;
    }
  }
}


@media (max-width: 353px) {
  .prev-store__store-items{
    img{
      width: 60px;
    }
  }
}
