.empty-packages{
  display: none;
  &__title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 26px;
    margin-left: 79px;
  }
  &__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 24px;
    color: #000000;
  }
  &__description{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 81px;
    color: #000000;
  }
  &__img{
    display: block;
    margin: 0 auto;
  }
}

.packages{
  &__info{
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    .time-packages{
      display: flex;
    }
  }
  &__user-info{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #40328A;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 850px;
    height: 50px;
    align-items: center;
    .time-packages{
      display: flex;
    }
  }
  &__item{
    margin-right: 55px;
  }
  &__name{
    margin-left: 30px;
  }
  &__responsive-packages-info{
    display: none;
  }
  &__user-packages-info{
    max-width: 414px;
    display: flex;
    border:1px solid #40328A;
    border-radius: 10px;
    .headings{
      width: 30%;
      border-right: 1px solid #40328A;
      .heading{
        padding: 5px 10px;
        border-bottom: 1px solid #40328A;
        &:last-child{
          border-bottom: none;
        }
      }
    }
    .user-packages-info{
      width: 70%;
      .user-packages-item{
        text-align: center;
        width: 100%;
        padding: 5px 10px;
        border-bottom: 1px solid #40328A;
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}

@media (max-width: 609px) {

}

@media (max-width: 580px){
  .packages__responsive-packages-info{
    display: block;
  }
  .packages__user-info{
    display: none;
  }
  .packages__info{
    display: none;
  }
  .empty-packages__title{
    margin-left: 18px;
  }

}