.post-code{
 display: flex;
  flex-direction: column;
  align-items: center;
  &__title{

  }
  &__input{
    @include address-input(400px, 50px);
    margin-bottom: 20px;
  }
  &__btns{
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  &__btn{
    width: 150px;
    height: 50px;
    background: #40328A;
    color: #F6F6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;
    &.cancel{
      border: 1px solid #EF8C3B;
    }
  }
}