.post-code{
 display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    color: #FFFFFF;
    margin-bottom: 12px;
  }
  &__description{
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 165px;
    &.err{
      color: #EF8C3B;
    }
  }
  &__input-block{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 69px;
    .input-text{
      margin-left: 11px;
      color: white;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 23px;

    }
  }
  &__input{
    @include address-input(250px, 45px);
    margin-bottom: 20px;
  }
  &__btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
  }
  &__btn{
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 31px;
    background: #EF8C3B;
    border-radius: 10px;
    color: #FFFFFF;
    width: 269px;
    &.cancel{
      border-style: none;
      color: #EF8C3B;
      background: none;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
      width: 53px;
    }
  }
}

@media(max-width: 520px){
  .post-code__description{
    margin-bottom: 120px;
  }
}

@media(max-width: 460px){
  .post-code__description{
    margin-bottom: 27px;
  }
  .post-code__title{
    font-size: 29px;
  }
  .post-code__input-block{
    margin-bottom: 35px;
  }
  .post-code__btn{
    width: 152px;
  }
}