.delivery{
  padding: 80px 0 12px;
  &__main-title{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height */


    color: #000000;
    margin-bottom: 48px;
  }
  &__advantages{
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
  }
  &__advantages-box{
    max-width: 298px;
    margin-bottom: 24px;
    margin-right: 18px;
    .img-box{
      display: flex;
      justify-content: center;
      width: 298px;
      background: #FFFFFF;
      box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.4);
      border-radius: 10px;
      margin-bottom: 16px;
      margin-right: 29px;
      &:last-child{
        margin-left: 0;
      }
    }
    .box2{
      box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.4)
    }
    .box3{
      box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.4)
    }
    .box4{
      box-shadow: 4px 8px 8px 2px rgba(0, 0, 0, 0.4);
    }
  }
  &__title{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #000000;
  }
  &__subtitle{
    width: 245px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    padding: 20px 10px 0px 0px;
  }
  &__main-subtitle{
    margin-top: 32px;
    text-align: center;
    margin-bottom: 48px;
  }
  &__steps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__step-box{
    padding: 32px 17px 16px 42px;
    width: 407px;
    background: #40328A;
    border-radius: 10px;
    margin-bottom: 12px;
    margin-right: 29px;
    &:last-child{
    }
    .step-number{
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 42px;
      /* identical to box height */


      color: #FFFFFF;
      margin-bottom: 24px;
    }
    .step-title{
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;

      color: #FFFFFF;
      margin-bottom: 18px;
    }
    .step-subtitle{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;

      color: #FFFFFF;
      margin-bottom: 18px;
    }
    .step-img{
      display: block;
      margin: 0 auto;
    }
    .step-img.active{
      width: 500px;
      z-index: 2;
    }
  }
}

@media (max-width: 813px) {
  .delivery__step-box{
    margin-right: 0;
    width: 350px;
  }
}

@media (max-width: 500px) {
    .delivery__step-box .step-number{
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      color: #FFFFFF;
    }
  @media (max-width: 400px) {
    .delivery__step-box{
      margin-right: 0;
      width: 300px;
    }
    }
  .delivery__step-box .step-title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;
  }
  .delivery__advantages-box{
    margin-right: 0;
  }
  .delivery__step-box .step-subtitle{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    color: #FFFFFF
  }
}