.delivery{
  padding: 80px 0 12px;
  &__main-title{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height */


    color: #000000;
    margin-bottom: 48px;
  }
  &__advantages{
    display: flex;
    justify-content: space-between;
  }
  &__advantages-box{
    .img-box{
      display: flex;
      justify-content: center;
      width: 298px;
      background: #FFFFFF;
      box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.4);
      border-radius: 10px;
      margin-bottom: 16px;
    }
    .box2{
      box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.4)
    }
    .box3{
      box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.4)
    }
    .box4{
      box-shadow: 4px 8px 8px 2px rgba(0, 0, 0, 0.4);
    }
  }
  &__title{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #000000;
  }
  &__subtitle{
    width: 245px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
  }
  &__main-subtitle{
    margin-top: 32px;
    text-align: center;
    margin-bottom: 48px;
  }
  &__steps{
    display: flex;
    justify-content: space-between;
  }
  &__step-box{
    padding: 32px 17px 16px 42px;
    width: 407px;
    height: 407px;
    background: #40328A;
    border-radius: 10px;
    .step-number{
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 42px;
      /* identical to box height */


      color: #FFFFFF;
      margin-bottom: 24px;
    }
    .step-title{
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;

      color: #FFFFFF;
      margin-bottom: 18px;
    }
    .step-subtitle{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;

      color: #FFFFFF;
      margin-bottom: 18px;
    }
    .step-img{
      display: block;
      margin: 0 auto;
    }
    .step-img.active{
      width: 500px;
      z-index: 2;
    }
  }
}