.price {
  padding: 80px 0 48px;
  background: #40328A;
}
.price__title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 48px;
}
.price__box {
  max-width: 844px;
  padding: 48px 109px 67px 87px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
}
.price .kg-sm {
  margin-bottom: 24px;
}
.price__country-input {
  background: #FFFFFF;
  border: 1px solid #EF8C3B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 328px;
  height: 50px;
  text-align: center;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
}
.price__country-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__country-input::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__country-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__country-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__country-input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__country-input select {
  margin-left: 32px;
}
.price__country-input option {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
}
.price__kilogram-input {
  margin-right: 7px;
  background: #FFFFFF;
  border: 1px solid #EF8C3B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 160px;
  height: 50px;
  text-align: center;
}
.price__kilogram-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__kilogram-input::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__kilogram-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__kilogram-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__kilogram-input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__centimeter-input {
  background: #FFFFFF;
  border: 1px solid #EF8C3B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 160px;
  height: 50px;
  text-align: center;
}
.price__centimeter-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__centimeter-input::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__centimeter-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__centimeter-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__centimeter-input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__mass-input {
  margin-right: 8px;
  background: #FFFFFF;
  border: 1px solid #EF8C3B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 75px;
  height: 35px;
  text-align: center;
}
.price__mass-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__mass-input::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__mass-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__mass-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__mass-input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__length-input {
  margin-right: 8px;
  background: #FFFFFF;
  border: 1px solid #EF8C3B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 75px;
  height: 35px;
  text-align: center;
}
.price__length-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__length-input::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__length-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__length-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__length-input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__width-input {
  margin-right: 8px;
  background: #FFFFFF;
  border: 1px solid #EF8C3B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 75px;
  height: 35px;
  text-align: center;
}
.price__width-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__width-input::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__width-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__width-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__width-input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__height-input {
  background: #FFFFFF;
  border: 1px solid #EF8C3B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 75px;
  height: 35px;
  text-align: center;
}
.price__height-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__height-input::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__height-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__height-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__height-input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__price-box {
  margin-left: 106px;
}
.price__price {
  padding: 12px 32px;
  background: #FFFFFF;
  border: 1px solid #EF8C3B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 219px;
  height: 85px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price__price::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__price::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__price:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__price::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__price::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #737373;
  text-align: center;
}
.price__price .price {
  padding-bottom: 10px;
  width: 155px;
  text-align: center;
  border-bottom: 1px solid black;
}
.price__price .price-value {
  padding-top: 8px;
}
.price__price .price-btn {
  border-style: none;
  background: #EF8C3B;
  border-radius: 10px;
  padding: 18px 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  margin-top: 60px;
  color: #FFFFFF;
}