.doc{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 12px;

  }
  &__form{
    display: flex;
    flex-wrap: wrap;
    .select{@include address-input(229px, 45px)}

    width: 100%;
    margin-top: 124px;
  }
  &__input-block{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 24px;
    width: 229px;
    &:nth-child(even){
      margin-right: 0;
    }
    .input-text{
      margin-left: 11px;
      color: white;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 23px;
    }
  }
  &__input{
    @include address-input(100%, 45px);
  }
  &__btns{
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
    align-items: flex-end;
    width: 100%;

  }
  &__btn{
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 31px;
    background: #EF8C3B;
    border-radius: 10px;
    color: #FFFFFF;
    width: 200px;
    &.cancel{
      border-style: none;
      color: #EF8C3B;
      background: none;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
      width: 53px;
    }
  }
}

@media (max-width: 720px) {
  .doc__form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
  }
  .registr__subtitle{
    margin-bottom: 30px;
  }
  .doc__btns{
    margin-top: 30px;
  }
  .doc__input-block{
    margin-right: 0;
  }
}

@media (max-width: 960px) {
  .doc__form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
  }
  .registr__subtitle{
    margin-bottom: 30px;
  }
  .doc__btns{
    margin-top: 30px;
  }
  .doc__input-block{
    margin-right: 0;
  }
}

@media (max-width: 475px) {
  .doc__form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
  }
  .registr__subtitle{
    margin-bottom: 20px;
  }
  .doc__btns{
    margin-top: 0;
  }
  .doc__input-block{
    margin-right: 0;
  }
  .doc__btn{
    width: 150px;
    font-size: 18px;
  }
  .doc__input-block{
    margin-bottom: 10px;
  }

}