.home{
  margin-top: 73px;
  background: #40328A;
  padding-bottom: 30px;
  &__home-block{
    position: relative;
    display: flex;
    margin-left: 60px;
    align-items: center;
  }
  &__title{
    width: 734px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
    margin-bottom: 54px;
    .usa{
      position: relative;
      top: 9px;
      left: -9px;
    }
  }
  &__abouts{
    width: 625px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    position: relative;
    color: #FFFFFF;
    margin-bottom: 100px;
  }
  &__air{
    position: absolute;
    top: 11%;
    left: 41%;
    z-index: 1;
  }

  &__get-address-btn{
    border-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #F6F6FF;
    background: #EF8C3B;
    border-radius: 10px;
    border: 2px solid #EF8C3B;
    padding: 18px 32px;
    transition: 0.3s ease;
    &:hover{
      background-color: #40328A;
    }
  }
  &__img-block{
    position: relative;
    img{
      margin-left: -130px;
    }
  }
  &__sky1{
    position: absolute;
    top: 0;
    left: 33px;

  }
  &__sky2{
    position: absolute;
    top: 0;
    right: 33px;

  }
  &__sky3{
    position: absolute;
    top:26px;
    left: 50%;

  }
  &__balex{
    position: absolute;
    top: 28%;
    left: 65%;
  }

}

@media (max-width: 1200px) {
  .home__img-block img {
    margin-left: -208px;
  }
}

@media (max-width: 1264px) {
  .home__title{
    width: 502px;
  }
  .home-img{
    display: none;
  }
  .home__balex{
    display: none;
  }
  .home__air{
    display: none;
  }
  .home__sky1{
    display: none;
  }
  .home__sky2{
    display: none;
  }
  .home__sky3{
    display: none;
  }

}

@media (max-width: 1080px) {
  .home__home-block{
    display: flex;
    justify-content: center;
  }

}

@media (max-width: 733px) {
  .home__title{
    font-size: 38px
  }
}

@media (max-width: 634px) {
  .home__title{
    width: 320px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;

    color: #FFFFFF;
  }
  .home__abouts{
    width: 272px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF
  }
  .home__get-address-btn{
    padding: 8px 32px;
  }
  .usa{
    width: 40px;
    margin-left: 10px;
  }
}

.authorization{
  display: none;
  width: 99vw;
  height: 100vh;
  background: #ffffff90;
  position: fixed;
  top: 0;
  z-index: 2;
  &.active{
    display: block;
  }
  .auth-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}