.personal-account{
  height: 100vh;
  position: relative;
}


.menu{
  z-index: 4;
  padding: 43px 0 0 34px;
  width: 278px;
  height: 100vh;
  border-right: 1px solid #40328A;
  background: white;
  transition: 0.5s;
  transform: translateX(0);
  &.active{
    transition: 0.5s;
    transform: translateX(-255px);
  }
  &__open-menu-btn{
    position: absolute;
    top: 13px;
    right: -21px;
    border: 1px solid #40328A;
    border-left: 1px solid white;
    background: transparent;
    .fa-chevron-left{
      font-size: 30px;
      transition: 0.5s;
      transform: rotate(0);
      &.active{
        transform: rotate(180deg);
      }
    }
  }
  .btn-add{
    color: #FFFFFF;
    border-style: none;
    background: #EF8C3B;
    border-radius: 10px;
    padding: 18px 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-bottom: 40px;
    margin-right: 20px;
  }
  &__menu-item{
    display: flex;
    align-items: center;
    margin-bottom: 44px;
    margin-right: 20px;

    .svg{
      margin-right: 10px;
    }
  }
  &__menu-link{
    background: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: #000;
    text-decoration: none;
    cursor: pointer;
    &.active{
      color: #40328A;
    }
    &:hover{
      color: #40328A;
    }
  }
  &__add-btn{
    background: #EF8C3B;
    border-radius: 10px;
    width: 184px;
    height: 57px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover{
      background-color: #40328A;
    }
  }
}

.order{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__input{
    margin-bottom: 30px;
    width: 300px;
    height: 50px;
    border: 1px solid black;
  }
  &__btn{
    width: 100px;
    height: 50px;
    border: 1px solid black;
  }
}

@media (max-width: 1105px){
  .menu{
    position: absolute;
    transform: translateX(-278px);
    height: 100%;
    &.active{
      transform: translateX(0);
    }
  }
}
