.menu{
  padding: 43px 0 0 34px;
  width: 278px;
  border-right: 1px solid #40328A;
  &__menu-item{
    display: flex;
    align-items: center;
    margin-bottom: 44px;
  }
  &__menu-link{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: #40328A;
    text-decoration: none;
  }
}
