.registr{
  &__title{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    color: #FFFFFF;
    margin-bottom: 12px;
    text-align: center;
  }
  &__subtitle{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
  }
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__input{
    @include address-input(229px, 45px);

  }
  &__btn{
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 31px;
    background: #EF8C3B;
    border-radius: 10px;
    color: #FFFFFF;
    width: 269px;
  }
  &__btns{
    width: 484px;
    display: flex;
    justify-content: flex-end;
  }
  &__input-block{
    width: 229px;
    display: flex;
    flex-direction: column;
    margin-bottom: 59px;
    margin-right: 30px;
    &:nth-child(even){
      margin-right: 0;
    }

  }
  &__input-text{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
    margin-left: 11px;
  }
}