.registr-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.registr{
  width: 100%;
  &__title{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    color: #FFFFFF;
    margin-bottom: 12px;
    text-align: center;
  }
  &__subtitle{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
  }
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__input{
    @include address-input(100%, 45px);

  }
  &__btn{
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 31px;
    background: #EF8C3B;
    border-radius: 10px;
    color: #FFFFFF;
    width: 269px;
  }
  &__btns{
    width: 484px;
    display: flex;
    justify-content: flex-end;
  }
  &__input-block{
    width: 220px;
    display: flex;
    flex-direction: column;
    margin-bottom: 59px;
    margin-right: 30px;
    &:nth-child(even){
      margin-right: 0;
    }

  }
  &__input-text{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
    margin-left: 11px;
  }
}

@media(max-width: 960px){
  .registr__input-block{
    width: 200px;
  }
  .registr__input-block{
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 0;
    }
    margin-right: 30px;
  }
  .auth__steps-tabs{
    width: 440px;
  }
}

@media(max-width: 720px){
  .registr__input-block{
    width: 180px;
  }
  .registr__input-block{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
    margin-right: 72px;

  }
}

@media(max-width: 520px){
  .registr__input-block{
    width: 180px;
  }
  .registr__input-block{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
    margin-right: 32px;
  }
}

@media(max-width: 320px){
  .registr__input-block{
    width: 180px;
  }
  .registr__input-block{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
    margin-right: 32px;
  }
  .auth__steps-tabs{
    width: 300px;
  }
}