.registr-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.registr{
  justify-content: center;
  width: 100%;
  &__err{
    display: none;
    &.active{
      display: block;
    }
  }
  &__title{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    color: #FFFFFF;
    margin-bottom: 12px;
    text-align: center;
  }
  &__subtitle{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
  }
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__input{
    @include address-input(100%, 45px);
    padding-left: 12px;
  }
  &__btn{
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 31px;
    background: #EF8C3B;
    border-radius: 10px;
    color: #FFFFFF;
    width: 269px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__load{
    display: none;
    &.active{
      display: block;
    }
  }
  &__btns{
    width: 484px;
    display: flex;
    justify-content: flex-end;
  }
  &__input-block{
    position: relative;
    width: 220px;
    display: flex;
    flex-direction: column;
    margin-bottom: 59px;
    margin-right: 30px;
    &:nth-child(even){
      margin-right: 0;
    }
    .fa-eye{
      position: absolute;
      right: 9px;
      top: 50%;
      font-size: 21px;
      color: gray;
    }
    .fa-eye-slash{
      position: absolute;
      right: 9px;
      top: 50%;
      font-size: 21px;
      color: gray;
    }
  }
  &__input-text{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
    margin-left: 11px;
  }
}

@media(max-width: 960px){
  .registr__input-block{
    width: 200px;
  }
  .registr__input-block{
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 0;
    }
    margin-right: 30px;
  }
  .auth__steps-tabs{
    width: 440px;
  }
}

@media(max-width: 720px){
  .registr__input-block{
    width: 180px;
  }
  .registr__input-block{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }


  }
}

@media(max-width: 520px){
  .registr__input-block{
    width: 180px;
    margin-right: 0;
  }
  .registr__input-block{
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }

  }
  .auth__steps-tabs .step-tab{
    margin-bottom: 6px;
  }
  .auth{
    padding: 0;
  }
  .registr__input-text{
    font-size: 16px;
  }
  .registr__title{
    font-size: 33px;
  }
  .registr__subtitle{
    font-size: 17px;
  }
  .registr__btns{
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
  }
  .registr__btn{
    width: 181px;
    font-size: 20px;
  }
}

@media(max-width: 320px){
  .registr__input-block{
    width: 180px;
  }
  .registr__input-block{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }

  }
  .auth__steps-tabs{
    width: 300px;
  }
}