.header{
  width: 100%;
  background: #40328A;
  position: fixed;
  z-index: 2;

  top: 0;
  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__burger{
    display: flex;
  }
  &__nav-link{
    display: inline-block;
    margin-right: 71px;
    padding: 10px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s ease;
    border-radius: 10px;
    &:last-child{
      margin-right: 59px;
    }
    &:hover{
      background: #EF8C3B;
      padding: 10px 20px;
      box-shadow: 0px 5px 16px -5px rgba(0,0,0,0.65);
    }
  }
  &__logo{
    img{
      height: 60px;
    }
    margin-right: 20px;
  }
  &__personal-account{
    display: flex;
    align-items: center;
    .personal-account-text{
      text-decoration: none;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      /* identical to box height */
      color: #FFFFFF;
      margin-right: 25px;
    }
    .after{
     display: inline-block;
      width: 1px;
      height: 23px;
      background: white;
      margin: 0 10px;
    }
  }
  &__auth-btn{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
    cursor: pointer;
    border-style: none;
    background: transparent;
    margin-right: 12px;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      color: #EF8C3B;
    }
  }
  &__burger-open-btn{
    color: white;
    font-size: 30px;
    display: none;
    cursor: pointer;
  }
}

@media (max-width:1303px) {
  .header__nav-link{
    margin-right: 60px;
  }
}


@media (max-width:1275px) {
  .header__nav-link{
    margin-right: 56px;
  }
}

@media (max-width:1259px) {
  .header__nav-link{
    margin-right: 51px;
  }
}

@media (max-width:1239px) {
  .header__nav-link{
    margin-right: 46px;
  }
}

@media (max-width:1219px) {
  .header__nav-link{
    margin-right: 41px;
  }
}

@media (max-width:1200px) {
  .header__nav-link{
    margin-right: 36px;
  }
}

@media (max-width:1180px) {
  .header__nav-link{
    margin-right: 31px;
  }
}

@media (max-width:1160px) {
  .header__nav-link{
    margin-right: 26px;
  }
}

@media (max-width:1140px) {
  .header__nav-link{
    margin-right: 21px;
  }
}

@media (max-width:1120px) {
  .header__nav-link{
    margin-right: 16px;
  }
}

@media (max-width:1100px) {
  .header__nav-link{
    margin-right: 11px;
  }
}

@media (max-width:1080px) {
  .header__nav-link{
    margin-right: 6px;
  }
}

@media (max-width:1060px) {
  .header__nav-link{
    margin-right: 1px;
  }
}

@media (max-width:1040px) {
  .header__nav-link{
    margin-right: -5px;
  }
}

@media (max-width:1020px) {
  .header__nav-link{
    margin-right: -11px;
  }
}

@media (max-width:1000px) {
  .header__nav-link{
    margin-right: -16px;
  }
}

@media (max-width:980px) {
  .header__nav-link{
    margin-right: -21px;
  }
}

@media (max-width:960px) {
  .header__nav-link{
    margin-right: -26px;
  }
}

@media (max-width:940px) {
  .header__nav-link{
    margin-right: -31px;
  }
}

@media (max-width:930px) {
  .header__nav-link{
    margin-right: -36px;
  }
}

@media(max-width: 911px){
  .header__burger-open-btn{
    display: block;
    margin-right: 20px;
  }
  .header__burger{
    padding: 50px 30px ;
    position: absolute;
    top: 0;
    background: #40328A;
    z-index: 4;
    display: flex;
    flex-direction: column;
    transform: translateX(-300px);
    border: 1px solid black;
    &.active{
      transform: translateX(0);
    }
  }
  .header__personal-account{
    img{
      display: none;
    }
    .after{
      display: none;
    }
  }
  .header__nav-items{
    display: flex;
    flex-direction: column;
  }
}