.pa-footer{
  display: flex;
  flex-direction: row;
  background-color: #40328A;
  width: 100%;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  z-index: 5;
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__item{
    user-select: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    cursor: pointer;
    margin-right: 40px;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      color: #EF8C3B;
    }
  }
}

@media(max-width: 655px){
 .pa-footer__item{
   font-size: 16px;
 }
}

@media(max-width: 422px){
  .footer__get-address-btn {
    border-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
    background: #EF8C3B;
    border-radius: 10px;
    padding: 0px 22px;
  }
  .pa-footer__item{
    font-size: 14px;
  }
  .pa-footer__items{
    display: flex;
    flex-direction: column;
  }
  .pa-footer__item{
    margin-right: 0;
  }
  .pa-footer{
    padding: 10px 0;
  }

}