.pa-footer{
  display: flex;
  flex-direction: row;
  bottom: 20px;
  background-color: #40328A;
  width: 100%;
  height: 60px;
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    user-select: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    cursor: pointer;
    margin-right: 40px;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      color: #EF8C3B;
    }
  }
}