@mixin input($wtd, $hgt){
  background: #FFFFFF;
  border: 1px solid #EF8C3B;
  border-radius: 5px;
  width: $wtd;
  height: $hgt;
  text-align: center;
  &::placeholder{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: #737373;
    text-align: center;
  }
}

.calc{
  padding: 80px 0 48px;
  background: #40328A;
  &__title{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
  }
  &__box{
    max-width: 844px;
    padding: 48px 109px 67px 87px;
    background: white;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
  }
  .kg-sm{
    margin-bottom: 24px;
  }
  &__country-input{
    @include input(328px, 50px);
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
    select{
      margin-left: 32px;
    }
    option{
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      /* identical to box height */
      color: #000000;
    }
  }
  &__kilogram-input{
    margin-right: 7px;
    @include input(160px, 50px)
  }
  &__centimeter-input{
    @include input(160px, 50px)
  }
  &__mass-input{
    margin-right: 8px;
    @include input(75px, 35px)
  }
  &__length-input{
    margin-right: 8px;
    @include input(75px, 35px)
  }
  &__width-input{
    margin-right: 8px;
    @include input(75px, 35px)
  }
  &__height-input{
    @include input(75px, 35px)
  }
  &__price-box{
    margin-left: 106px;
  }
  &__prices{
    padding: 12px 32px;
    @include input(219px, 85px);
    display: flex;
    flex-direction: column;
    align-items: center;
    .prices{
      padding-bottom: 10px;
      width: 155px;
      text-align: center;
      border-bottom: 1px solid black;
    }
    .price-value{
      padding-top: 8px;
    }
    .price-btn{
      border-style: none;
      background: #EF8C3B;
      border-radius: 10px;
      padding: 18px 32px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      /* identical to box height */
      margin-top: 60px;

      color: #FFFFFF;
    }
  }
}

@media (max-width: 844px) {
  .calc {
    &__box {
      padding: 32px 32px 12px 32px;
      max-width: 370px;
      margin: 0 auto;
    }

    &__kilogram-input, &__centimeter-input {
      @include input(64px, 27px);
      margin-right: 19px;
      &:last-child{
        margin-right: 0;
      }
      font-size: 16px;
    }

    &__mass-input, &__length-input, &__width-input, &__height-input {
      @include input(31px, 27px);
      margin-right: 7px;
      font-size: 14px;
      &::placeholder{
        font-size: 0;
      }
    }

    &__price-box{
      width: 114px;
      margin-left: 44px;
      .prices{
        width: 76px;
      }
    }
    &__prices {
      padding: 0;
      @include input(116px, 63px);
      .price-btn {
        margin-top: 30px;
        padding: 12.5px 18.5px;
        font-size: 14px;
      }
    }

    &__country-input {
      @include input(148px, 30px);
    }
  }
  .w-h{
    display: flex;
  }
}

@media(max-width: 330px){
  .calc{
    &__box{
      padding: 16px 11px 12px 5px;
      max-width: 320px;
    }
  }
}
