.header{
  width: 100%;
  background: #40328A;
  &__nav{
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    width: 190px;
  }
  &__input-block{
    width: 410px;
    height: 40px;
    position: relative;
    .input{
      width: 100%;
      height: 100%;
      padding-left: 49px;
      border-radius: 10px;
      &::placeholder{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 40px;
        /* identical to box height */
        color: #000000;
      }
    }
  }
  &__input-magnifier{
    position: absolute;
    top: 13px;
    left: 19px;
  }
  &__user-data{
    display: flex;
    color: white;
  }
  &__price{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-right: 32px;
  }
  &__user-login{
    display: flex;
    align-items: center;
    .user{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      color: #FFFFFF;
      margin: 0 10px;
    }
  }
}