@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  border-style: none;
}

body{
  font-family: 'IBM Plex Sans', sans-serif;
}

.container{
  width: 1320px;
  margin: 0 auto;
}

@import "../src/components/header/header";
@import "../src/components/home/home";
@import "../src/components/store/store";
@import "../src/components/delivery/delivery";
@import "../src/components/calc/calc";
@import "../src/components/contacts/contacts";
@import "../src/components/faq/faq";
@import "../src/components/footer/footer";
@import "../src/components/personalAccount/pesonalAccount";
@import "components/personalAccount/pa-content/pa-header/paHeader";
@import "../src/components/personalAccount/pa-content/content";
@import "../src/components/personalAccount/pa-content/packages/packages";
@import "../src/components/personalAccount/pa-content/price/price";
@import "../src/components/personalAccount/pa-content/address/address";
@import "../src/components/personalAccount/pa-content/help/help";
@import "../src/components/personalAccount/pa-content/settings/settings";
@import "../src/components/personalAccount/pa-content/pa-footer/paFooter";
